#chessboard_div {
  display: flex;
  position: absolute;
  top: 45vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

td {
  width: 4em;
  height: 4em;
}

td:hover {
  background-color: #c1666b;
}

.black {
  background-color: #6daedb;
  mix-blend-mode: multiply;
}

.white {
  background-color: #eff6e0;
  mix-blend-mode: multiply;
}

.attack_position {
  background-color: #50723c;
  mix-blend-mode: multiply;
}
