.image-container {
    position: relative;
}

.figure-image {
    width: 65px;
    height: 65px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

