#nowMove {
  color: #d3d3d3;
  font-size: 52pt;
  position: absolute;
  top: 90vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#save {
  position: absolute;
  top: 10vh;
  left: 85vw;
  transform: translate(-50%, -50%);
  width: 450px; /* Ширина кнопки */
  height: 80px; /* Высота кнопки */
  background-color: transparent; /* Прозрачный фон */
  border: 2px solid rgb(104, 104, 104); /* Серая окантовка */
  border-radius: 100px; /* Закругленные углы */
  color: #e5e5e5; /* Белый цвет текста */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Курсор в виде указателя при наведении */
  font-size: 26pt; /* Размер шрифта */
  font-family: "Rubik"; /* Шрифт */
}

#moves {
  position: absolute;
  top: 50vh;
  left: 85vw;
  transform: translate(-50%, -50%);
  width: 392px;
  height: 615px;
  overflow-y: auto;
  border-radius: 10px;
  border: 2px solid rgb(104, 104, 104);
  padding: 10px;
  color: #e5e5e5;
}

#ad {
  width: 100%;
  max-width: 350px;
  height: 665px;
  overflow-y: auto;
  border-radius: 10px;
  border: 2px solid rgb(104, 104, 104);
  padding: 10px;
  color: #e5e5e5;
  margin-left: 75%;
  margin-top: 6%;
}

text {
  color: #d3d3d3;
  font-size: 200%;
  margin-top: 50%;
  overflow: auto;
}

@media screen and (orientation: portrait) and (max-height: 1050px) {
  #nowMove {
    font-size: 16pt;
    position: absolute;
    top: 76vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  #moves {
    display: none;
  }

  #save {
    position: absolute;
    top: 12vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 300px; /* Ширина кнопки */
    height: 55px; /* Высота кнопки */
    font-size: 22pt; /* Размер шрифта */
  }
}

@media screen and (orientation: portrait) and (max-height: 850px) {
  #nowMove {
    font-size: 15pt;
    position: absolute;
    top: 80vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  #moves {
    display: none;
  }

  #save {
    position: absolute;
    top: 18vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 280px; /* Ширина кнопки */
    height: 52px; /* Высота кнопки */
    font-size: 20pt; /* Размер шрифта */
  }
}

@media screen and (orientation: portrait) and (max-height: 700px) {
  #nowMove {
    font-size: 15pt;
    position: absolute;
    top: 85vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  #moves {
    display: none;
  }

  #save {
    position: absolute;
    top: 16vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    width: 280px; /* Ширина кнопки */
    height: 52px; /* Высота кнопки */
    font-size: 20pt; /* Размер шрифта */
  }
}
