body {
  background-color: #2a2d34; /* Цвет фона */
  font-family: "Rubik", sans-serif; /* Шрифт */
}

#backButton {
  background-color: transparent; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем границу кнопки */
  padding: 10px 20px; /* Внутренние отступы кнопки */
  text-align: center; /* Выравниваем текст по центру */
  text-decoration: none; /* Убираем подчеркивание у текста */
  display: inline-block; /* Позволяет кнопке быть блочным элементом и настраивать ширину и высоту */
  font-size: 16px; /* Размер шрифта текста кнопки */
  cursor: pointer; /* Курсор в виде указателя при наведении на кнопку */
  border-radius: 5px; /* Закругляем углы кнопки */
}

#backButton img {
  width: 100px;/* размеры кнопки /*
  position: fixed; /* Фиксированная позиция */
  top: 2.5%; /* Располагаем кнопку вверху */
  left: 1.5%; /* Располагаем кнопку влево */
}

@media screen and (orientation: portrait) {
  #backButton img {
    width: 50px; /* размеры кнопки */
    position: fixed; /* Фиксированная позиция */
    top: 2.5%; /* Располагаем кнопку вверху */
    left: 2.5%; /* Располагаем кнопку влево */
  }
}