#title {
  color: #d3d3d3; /* Цвет текста */
  font-size: 50pt; /* Размер шрифта */
  position: absolute;
  top: 20vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#subTitle {
  color: #d3d3d3; /* Цвет текста */
  font-size: 25pt; /* Размер шрифта */
  position: absolute;
  top: 35vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

#code {
  color: #d3d3d3; /* Цвет текста */
  font-size: 13pt; /* Размер шрифта */
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
