<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ваш аккаунт</title>
</head>
<body>
    <h1>Данные пользователя:</h1>
    <ul>
        {% for data in data_list %}
            <li>{{ data }}</li>
        {% endfor %}
    </ul>
    <form action="/games_list">
        <button type="submit">Список ваших игр</button>
    </form>
    <form action="/change_username">
        <button type="submit">Сменить имя пользователя</button>
    </form>
    <form action="/logout" method="POST">
        <button type="submit">Выйти</button>
    </form>
</body>
</html>
