<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>
<body>

<header class="header">
    <div class="header__line">
        <div class="container">
            <div class="header_line-wrapper">
                <div class="header__lng">
                    <a href="#">Ru</a>
                    <a href="#" class="active">En</a>
                </div>
                <a class="header__phone" href="#">8 (800) 555-35-55</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__wrapper">
            <a href="#" class="logo">
                <img src="../static/assets/logo.png" alt="logo">
            </a>
            
            <div class="header__block">
                <nav class="nav">
                    <a href="#" class="nav__link active">
                        Home
                    </a>
                    <a href="#" class="nav__link">
                        About
                    </a>
                    <a href="#" class="nav__link">
                        Settings
                    </a>
                </nav>
            </div>

            <div class="header__block">
                <div class="header__actions">
                    <a href="/account" class="header__link">
                        <img src="../static/assets/autorisation.svg" alt="autorisation">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</header>

<div class="intro">
    <div class="container">
        <div class="intro__wrapper">
            <div class="intro__block">
                <h1 class="intro__title">WELCOME!</h1>
                <p class="intro__text">
                    This is a site for playing chess with AI.
                    Press start to play game.
                </p>
                <div class="intro__actions">
                    <a href="#" class="btn btn-main">
                        start
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>