<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose gamemode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gamemode_choose.css') }}">
</head>
<body>

<header class="header">
    <div class="header__line">
        <div class="container">
            <div class="header_line-wrapper">
                <div class="header__lng">
                    <a href="#">Ru</a>
                    <a href="#" class="active">En</a>
                </div>
                <a class="header__phone" href="#">8 (800) 555-35-55</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="header__wrapper">
            <a href="#" class="logo">
                <img src="../static/assets/logo.png" alt="logo">
            </a>
            
            <div class="header__block">
                <nav class="nav">
                    <a href="/home" class="nav__link">
                        Home
                    </a>
                    <a href="#" class="nav__link">
                        About
                    </a>
                    <a href="#" class="nav__link">
                        Settings
                    </a>
                </nav>
            </div>

            <div class="header__block">
                <div class="header__actions">
                    <a href="/account" class="header__link">
                        <img src="../static/assets/autorisation.svg" alt="autorisation">
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</header>
<div class="choose__mode-banner">
    <div class="container">
        <h1 class="choose__mode-title">CHOOSE YOUR MODE:</h1>
        <div class="choose__mode-wrapper">
            <div class="choose__mode-wrappermode">
                <h2 class="choose__mode-titlle">pvp (wip)</h2>
                <p class="paragraph">The AI in PVE mode is designed to provide a perfect level of difficulty, making each game a thrilling experience.</p>
                <a href="#" class="btn-main btn choose">choose</a>
            </div>
            <div class="choose__mode-wrappermode margin">
                <h2 class="choose__mode-titlle margin">pve</h2>
                <p class="paragraph margin">The AI in PVE mode is designed to provide a perfect level of difficulty, making each game a thrilling experience.</p>
                <a href="/GameSelect" class="btn-main btn choose">choose</a>
            </div>
        </div>
    </div>


</div>

</body>
</html>