<!-- Основная страница с игрой -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/site/css/board.css" />
    <link rel="stylesheet" type="text/css" href="/site/css/figures.css" />
    <link rel="stylesheet" type="text/css" href="/site/css/game_page.css" />
    <link rel="stylesheet" type="text/css" href="/site/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <title>Знаете чем шахматист отличается от пенсионера?</title>
  </head>
  <body>
    <div id="chessboard_div">
      <table id="chessboard"></table>
    </div>

    <a id="nowMove">Сейчас ход белых</a>
    <!-- Показывает чей ход -->

    <div id="left">
      <button id="save" , class="button">Сохранить</button>
      <!-- Кнопка сохранения прогресса -->

      <div id="moves"></div>
      <!-- Область, куда выводятся ходы -->
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script type="module" src="/site/js/generateBoard.js"></script>
    <script type="module" src="/site/js/clickHandler.js"></script>
    <script type="module" src="/site/js/connect.js"></script>
    <script type="module">
      import { generateBoard, setFigures } from "/site/js/generateBoard.js";
      import { socket, sendMessage, setSocket } from "/site/js/connect.js";

      const urlParams = new URLSearchParams(window.location.search); 
      const code = urlParams.get("code"); 

      setSocket();
      socket.on("connect", async function () {
        generateBoard();
        setFigures(code);
        sendMessage("start", code);
      });

      document.getElementById("save").addEventListener("click", function () {
        sendMessage("save").then((message) => {
          window.location.href = "save?code=" + message.message;
        });
      });
    </script>
  </body>
</html>
