<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="return-btn"><a href="/"><img src="{{ url_for('static', filename='assets/return-btn.svg') }}" alt="back"></a></div>
        <div class="registration">
            <form action="/login" method="POST">
                <h1 class="reg">Login</h1>
                <input type="text" id="username" name="username" class="btn-registration" placeholder="Enter your login"><br><br>
                <input type="password" id="password" name="password" class="btn-registration" placeholder="Enter your password"><br><br>
                <h2>{{ data }}</h2>
                <button type="submit" class="btn-register">Sign in</button><br><br>
                <h2>No account?</h2>
                <form action="/registration" method="get">
                    <button class="btn-register" type="submit">Sign up</button>
                </form>
            </form>
        </div>
    </div>    
</body>
</html>