<!-- Страница для входа-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/site/css/main_page.css" />
    <link rel="stylesheet" type="text/css" href="/site/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <title>Шахматы</title>
  </head>

  <body>
    <button id="startGameButton" class="button">Начать игру с ботом</button>
    <button id="newGameButton" class="button">Создать комнату</button>
    <button id="enterGameButton" class="button">Войти</button>

    <input type="text" id="inputCode" placeholder="Введите код другой игры" />
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
  <script>
    const startGameButton = document.getElementById("startGameButton");
    const inputCode = document.getElementById("inputCode");

    // Начинается новая игра
    startGameButton.addEventListener("click", function () {
      window.location.href = "game";
    });

    newGameButton.addEventListener("click", function () {
      window.location.href = "new";
    });
    // При нажатии на enter начинается игра с заданным кодом
    inputCode.addEventListener("keyup", function (event) {
      if (event.key === "Enter") {
        window.location.href = "game?id=" + inputCode.value;
      }
    });
  </script>
</html>
