<!-- Страница показывает код сохранения-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta https-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/site/css/save_page.css" />
    <link rel="stylesheet" type="text/css" href="/site/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <title>Шахматы - создание комнаты</title>
  </head>
  <body>
    <button id="backButton" onclick="back()">
      <img src="site/res/backButton.png" alt="Назад" />
    </button>

    <p id="title">Код для подключения</p>

    <div id="textDiv">
      <p id="id"></p>
      <button id="copy" onclick="copyId()">Скопировать</button>
    </div>

    <div id="qrDiv"></div>

    <button id="toGamePageButton">К игре</button>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
  <script
    type="text/javascript"
    src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"
  ></script>
  <script type="module" src="/site/js/saveHandler.js"></script>
  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const id = urlParams.get("id");
    const idText = document.getElementById("id");
    idText.innerHTML = id;

    function back() {
      window.location.href = "/" + id;
    }

    function copyId() {
      let text = document.getElementById("id");
      let tmp = document.createElement("input");
      tmp.value = text.textContent;

      document.body.appendChild(tmp);
      tmp.select();
      document.execCommand("copy");
      document.body.removeChild(tmp);
    }

    document
      .getElementById("toGamePageButton")
      .addEventListener("click", function () {
        window.location.href = "game?id=" + id;
      });
  </script>
</html>
