<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign up</title>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="return-btn"><a href="/account"><img src="{{ url_for('static', filename='assets/return-btn.svg') }}" alt="back"></a></div>
        <div class="registration">
            <h1 class="reg">Registration</h1>
            <form action="/register" method="POST">
                <input type="text" id="username" name="username" class="btn-registration" placeholder="Enter Name" maxlength="35"/><br><br>
                
                <input type="password" id="password" class="btn-registration" name="password" placeholder="Enter Password"/><br><br>
                <button class="btn-register" type="submit">Sign up</button>
            </form>
            <h3>{{ data }}</h1>
            </div>
        </div>
</body>
</html>
