<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/site/css/win_page.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap"
      rel="stylesheet"
    />
    
    <title>Шахматы</title>
</head>
<body>
    <p id="winnerText">Победила дружба</p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search)
    const winner = urlParams.get("winner")
    const winnerText = document.getElementById('winnerText')

    console.log(winner)

    if (winner == 'white'){
        winnerText.textContent = "Белые победили"
    }
    if (winner == 'black'){
        winnerText.textContent = "Черные победили"
    }
</script>
</html>
